{% extends 'base.html' %}
    {% block title %}Пост {{ post.text | truncatechars:30 }}... {% endblock title %}
{% block context %}
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Дата публикации: {{post.pub_date | date:"SHORT_DATE_FORMAT"}} 
            </li>
            {% if post.group %}
            <li class="list-group-item">
              Группа: {{ post.group.title }}
              <li class="list-group-item">
              <a href="{% url 'posts:group_list' post.group.slug %}">
                все записи группы
              </a>
              </li>
            </li>
              {% endif %}
            </li>
            <li class="list-group-item">
              Автор: {{ post.author.get_full_name }}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора:  <span>{{ post.posts_count }}</span>
            </li>
            <li class="list-group-item">
                <a href="{% url 'posts:profile' post.author %}">все посты пользователя</a>
            </li>
            {% if post.author_id == user.id %}
            <li class="list-group-item">
                <a href="{% url 'posts:post_edit' post.id %}">Решительно редактировать</a>
            </li>
            {% endif %}
          </ul>
        </aside>
        <article class="col-12 col-md-9">
          <p>
{{ post.text | linebreaksbr}}
          </p>
        </article>
{% endblock context %}